<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado de Participación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/certificado.css' %}">
    
</head>
<body>
    <div class="container">
        <!-- Primer patrón -->
        <div class="pattern-1">
            <svg viewBox="0 0 1000 500" preserveAspectRatio="none">
                <!-- SVG paths -->
            </svg>
        </div>

        <!-- Segundo patrón -->
        <div class="pattern-2">
            <svg viewBox="0 0 1000 500" preserveAspectRatio="none">
                <!-- SVG paths -->
            </svg>
        </div>

        <!-- Tercer patrón -->
        <div class="pattern-3">
            <svg viewBox="0 0 1000 500" preserveAspectRatio="none">
                <!-- SVG paths -->
            </svg>
        </div>

        <h1>Certificado de Participación</h1>
        <div class="info">
            <div class="info-left">
                <p><strong>Nombre:</strong> {{ certificado.nombre_participante }}</p>
                <p><strong>Curso:</strong> {{ certificado.nombre_curso }}</p>
                <p><strong>Fecha de Emisión:</strong> {{ certificado.fecha_emision }}</p>
            </div>
            <div class="qr">
                <img src="{{ certificado.codigo_qr.url }}" alt="Código QR">
            </div>
        </div>
    </div>

    <!-- Enlace para descargar el certificado en PDF, solo visible en el navegador -->
    {% if not for_pdf %}
    <div class="pdf-link">
        <a href="{% url 'exportar_certificado_pdf' certificado.pk %}">Descargar Certificado en PDF</a>
    </div>
    {% endif %}
</body>
</html>
